body {
  margin: 0px 30px;
  width: 1200px;
  padding: 40px;
}
h1 {
  width: 1300px;
  height: 41px;
  left: 41px;
  top: 59px;

  /* font-family: "Inter"; */
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;

  color: #000000;
}
#btn {
  position: absolute;
  width: 303px;
  height: 67px;
  left: 41px;
  top: 127px;

  background: #000000;
  border-radius: 10px;
}

#data-container {
  display: none;
}
.part-1 {
  width: 800px;
  display: flex;
}
p {
  width: 400px;
  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
}
.map {
  height: 500px;
  width: 400px;
}

#filterInput{
  width: 1300px;
}

#b1,#b2,#b3,#b4,#b5,#b6{
  position: relative;
  box-sizing: border-box;
  width: 500px;
  height: 200px;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 25px;
  margin: 25px;
}